@tailwind base;
@tailwind components;
@tailwind utilities;

/**
@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid theme('colors.primary.900');
    border-right-color: theme('colors.primary.200');
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid theme('colors.primary.200');
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}

*/

/* For data picker */
/*
.rdp {
  --rdp-cell-size: 32px !important;
  --rdp-accent-color: theme('colors.accent.500') !important;
  --rdp-background-color: theme('colors.accent.600') !important;
  margin: 0 !important;
}
*/

.rdp-button:hover:not([disabled]):not(.rdp-day_selected) {
  background-color: rgb(198 153 99) !important; /* Tailwind's bg-accent-400 fallback */
  color: white;
}

select.rdp-dropdown:focus-visible {
  background-color: rgb(198 153 99);
  opacity: 1;
}

.rdp-day_selected, .rdp-day_selected:hover {
  background-color: rgb(198 153 99) !important;
}

.rdp-month {
  margin: 0px !important;
}

.rdp-month:first-child {
  border-right: 1px solid rgb(44 61 79);
}